<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OPERATE</title>
</head>
<body>
    <H1>Dashboard</H1>
    <table border="0" cellspacing="0" cellpadding="10" height="5">
        <tr>
            <script src="menu.js?ver=1"></script>
            <TD>
                <table border=3>
                    <tr>
                        <td>Modules/Towns: <span th:text="${moduleCount}"/></td>
                        <td>Rollingstock: <span th:text="${equipmentCount}"/></td>
                        <td>Consignees: <span th:text="${consigneeCount}"/></td>
                    </tr>
                    <tr><td>Drop Zones: <span th:text="${dropZoneCount}"/></td>
                        <TD>Car Requests: <span th:text="${carRequestCount}"/></td>
                        <TD>Trains: <span th:text="${trainCount}"/></td>
                    </tr>
                </table>
            </TD>
        </tr>
    </table>
</body>
</html>
