<h1>OPERATE</h1>
<table border="0" cellspacing="0" cellpadding="10" height="5">
	<tr>
		<script src="menu.js?ver=1"></script>
		<TD>
<table border=3>
	<tr><td>Modules/Towns</td><td>Rollingstock</td><TD>Consignees</TD></tr>
	<tr><td>Drop Zones</td><TD>Car Requests</TD><TD>Trains</TD></tr>
</table>

<A href="/equipment">Equipment Register</A><br/>
<A href="/modules">Modules/Towns</A><br/>
<A href="/trains">Trains</A><br/>
<A href="/trainlists">Trainlists</A><br/>
<A href="/preferences">Preferences</A><br/>
<A href="/index">Dashboard</A><br/>
</TD>
</tr>
</table>